body {
    margin: 0; 
    padding: 15px; 
    padding-top: 20px;
    padding-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    background-color: white;
}

input {
    padding: 10px; 
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #5f9341; 
    height: 35px;
    margin-bottom: 4px;
}

input::placeholder{
    color: #D5D4D8;
}

button {
    background-color: #5f9341;
    color: white; 
    border: 1px solid #5f9341; 
    padding: 10px 20px;
    font-weight: bold; 
    margin-top: 10px;
}

#delete-btn, #delete-selected-btn, #copy-btn {
    color: #5f9341; 
    background-color: white;
}



ul {
    list-style: none;
    padding-left: 0; 
    margin-top: 20px; 
}

li {
    margin-top: 5px; 
}  

li a {
    color: #5f9341;
}

li p a {
    color: #D5D4D8;
}

p {
    margin: 0; 
    padding: 0; 
}
 
.disappear {
    display: none;
}

#disclaimer {
    font-style: italic; 
    font-size: 12px;
    color: #afc9a0;
    margin-bottom: 5px;
}


.not-selected, .selected {
    /* display: flex; 
    flex-wrap: wrap; */
    margin: 10 0;
    overflow-wrap: break-word;
}


#delete-bar {
    position: fixed;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: white;
    width: 100%;

    display: flex; 
    gap: 3px;
    /* overflow: auto; */
    height: 45px;
}

#input-bar {
    display: flex; 
    gap: 3px;
}

::-webkit-scrollbar {
    display: none;
}





#up-arrow, #down-arrow {
    width: 25px;
    height: 25px;
}

#up-btn, #down-btn {
    background: none;
    width: 25px; 
    height: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15.5px;

    /* display: flex; 
    justify-content: center; */
}

#down-btn {
    transform: rotate(180deg);
    margin-right: 15px;
    margin-left: 5px;
}